* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  /*background-color: #e2d5d2;*/
  font-family: Arial, sans-serif; /* Tipografía para mejor legibilidad */
  /*min-height: 100vh;
  min-width: 100vw;*/
  background: linear-gradient(135deg, #0f0f0f, #434343, #6a6a6a);
  
  /*display: flex;
  justify-content: center;
  align-items: center;*/
  /*background-color: #2A2A2A;*/
}

.container {
  /*background: rgba(255, 255, 255, 0.1); /* Fondo semitransparente para el contenedor 
  padding: 2rem;
  border-radius: 10px;*/
  width:500px;
  height: 600px;
  /*color: #ea868f;*/
}


#counter {
  font-size: 10rem;
  
}
.btn {
  margin: 10px;
  width: 120px;
}

h2 {
  margin-top: 80px;
  font-size: 1.5rem;
}

.state {
  width: 60%;
  height: 50px;
  text-align: center;
  font-size: 2em;
}

.work-mode {
  color: #ea868f; /* Color naranja para el modo de descanso */

}
.break-mode {
  color: #39dcae;
}

