* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif; 
  background: linear-gradient(135deg, #0f0f0f, #434343, #6a6a6a);
}

.container {
  width:500px;
  height: 600px;
}

#counter {
  font-size: 10rem;
  
}
.btn {
  margin: 10px;
  width: 120px;
}

h2 {
  margin-top: 80px;
  font-size: 1.5rem;
}

.state {
  width: 60%;
  height: 50px;
  text-align: center;
  font-size: 2em;
}

.work-mode {
  color: #ea868f; 
}
.break-mode {
  color: #39dcae;
}

@media (max-width: 480px) {
  .container {
    width: 100%;
    padding: 0 10px;
  }

  .button-container {
    flex-direction: column;
  }

  #counter {
    font-size: 5rem;
  }
}


